@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Russo+One";
body {
  font-family: "PT Sans", sans-serif;
  font-size: 1.1em;
  margin: 0;
  /* MODAL */
  /* MODAL */
}
body button {
  padding: 7px;
  border-radius: 10px;
  background-color: #324577;
  border: none;
  color: #e4e4e2;
  font-size: 0.9em;
}
body button:hover {
  opacity: 0.5;
  cursor: pointer;
}
body *, body *:before, body *:after {
  box-sizing: border-box;
}
body body {
  background: #ccc;
  overflow: hidden;
}
body .modal-container {
  /*margin: 60px auto;*/
  padding-top: 0px;
  position: relative;
  width: 160px;
}
body .modal-container .modal-btn {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 160px;
  height: 50px;
  line-height: 50px;
  background: #446CB3;
  font-size: 22px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 5px 5px -5px #333;
  transition: background 0.3s ease-in;
}
body .modal-container .modal-btn:hover {
  background: #365690;
}
body .modal-container .modal-content,
body .modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
body .modal-container .modal-close {
  color: #aaa;
  position: absolute;
  right: 5px;
  top: 5px;
  padding-top: 3px;
  background: #fff;
  font-size: 16px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
body .modal-container .modal-close:hover {
  color: #333;
}
body .modal-container .modal-content-btn {
  position: absolute;
  text-align: center;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  background: #446CB3;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  height: 32px;
  padding-top: 9px;
  font-weight: normal;
}
body .modal-container .modal-content-btn:hover {
  color: #fff;
  background: #365690;
}
body .modal-container #modal-toggle {
  display: none;
}
body .modal-container #modal-toggle.active ~ .modal-backdrop, body .modal-container #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
body .modal-container #modal-toggle.active ~ .modal-content, body .modal-container #modal-toggle:checked ~ .modal-content {
  opacity: 1;
  background-color: #fff;
  max-width: 400px;
  width: 400px;
  height: 280px;
  padding: 10px 30px;
  position: fixed;
  left: calc(50% - 200px);
  top: 12%;
  border-radius: 4px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
@media (max-width: 400px) {
  body .modal-container #modal-toggle.active ~ .modal-content, body .modal-container #modal-toggle:checked ~ .modal-content {
    left: 0;
  }
}
body .modal-container #modal-toggle_2 {
  display: none;
}
body .modal-container #modal-toggle_2.active ~ .modal-backdrop, body .modal-container #modal-toggle_2:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
body .modal-container #modal-toggle_2.active ~ .modal-content, body .modal-container #modal-toggle_2:checked ~ .modal-content {
  opacity: 1;
  background-color: #fff;
  max-width: 600px;
  width: 600px;
  height: 500px;
  padding: 10px 30px;
  position: fixed;
  left: calc(50% - 300px);
  top: 9%;
  border-radius: 10px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
@media (max-width: 400px) {
  body .modal-container #modal-toggle_2.active ~ .modal-content, body .modal-container #modal-toggle_2:checked ~ .modal-content {
    left: 0;
  }
}

section {
  padding: 40px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #e4e4e2;
  border-bottom: 1px solid #909090;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Анимация ссылок */
  /* Анимация ссылок */
}
header .container content {
  background: #eee;
  margin: 0px auto;
  display: block;
  width: 75%;
  text-align: center;
  padding: 50px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: inset -3px -3px 5px 0px rgba(0, 0, 0, 0.75);
}
header .container h1 {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
header .container h2 {
  font-weight: 100;
  font-style: italic;
  font-size: 0.8em;
  margin: 0;
}
header .container a {
  font-weight: 400;
  color: #324577;
}
header .container a:hover {
  color: #00aeff;
}
header .container .middle a {
  text-decoration: none;
  font-size: 1em;
  position: relative;
  transition: all 0.6s;
}
header .container .middle a:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #324577;
  transition: all 0.3s;
}
header .container .middle a:hover:before {
  width: 100%;
  left: 0;
  background: #00aeff;
}
header .container .contacts {
  display: flex;
  flex-direction: column;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .container a {
  text-decoration: none;
  color: black;
}
footer .container a:hover {
  color: #00aeff;
}
footer .container .contacts {
  display: flex;
  flex-direction: column;
}
footer .container .social {
  display: flex;
  justify-content: flex-end;
}
footer .container .social a {
  display: flex;
  align-items: center;
  width: 15%;
  padding: 0 10px;
}
footer .container .social a img {
  width: 100%;
}
footer .container .social a img:hover {
  filter: opacity(0.5);
}

#uslugi {
  background-image: url(../img/background/uslugi4.jpg);
  background-size: cover;
  background-position: center;
}
#uslugi .container {
  padding: 10px;
}
#uslugi .container .tariffs_head {
  text-align: center;
  color: #00aeff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}
#uslugi .container .tariffs_head:hover {
  opacity: 0.9;
}
#uslugi .container .tariffs {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}
#uslugi .container .tariffs .item {
  width: -webkit-fill-available;
}
#uslugi .container .tariffs .item li {
  padding: 5px 0;
  border-bottom: 1px solid #808080;
}
#uslugi .container .tariffs .item li:last-child {
  border-bottom: none;
}
#uslugi .container .tariffs .item a {
  text-decoration: none;
  color: white;
  opacity: 0.9;
}
#uslugi .container .tariffs .item a:hover {
  color: #00aeff;
}
#uslugi .container .tariffs .item .item_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
}
#uslugi .container .tariffs .item .item_head .item_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}
#uslugi .container .tariffs .item .item_head .item_intro {
  text-align: center;
  opacity: 0.8;
}

#cause {
  background-color: #324577;
}
#cause .cause h2 {
  text-align: center;
  color: #e4e4e2;
  font-weight: 100;
}
#cause .cause .causes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
#cause .cause .causes .cause_item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #e4e4e2;
  border-radius: 10px;
}
#cause .cause .causes .cause_item:hover {
  opacity: 0.9;
}
#cause .cause .causes .cause_item h3 {
  opacity: 0.8;
  font-weight: 100;
}
#cause .cause .causes .cause_item p {
  opacity: 0.5;
}
#cause .cause .causes .cause_item img {
  margin-right: 20px;
}

#sentence {
  background-color: #e4e4e2;
}
#sentence .sentence {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sentence .sentence .sentence_item h2 {
  opacity: 0.6;
}
#sentence .sentence .sentence_item p {
  opacity: 0.5;
}

.keys h2 {
  text-align: center;
}
.keys .keys_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.keys .keys_items .keys_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}
.keys .keys_items .keys_item img {
  width: 30%;
}

#review {
  background-image: url(../img/background/otziv.jpg);
  background-size: cover;
  background-position: center;
}
#review .review {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
}
#review .review h2 {
  text-align: center;
  color: white;
  opacity: 0.9;
}
#review .review .review_item img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  max-height: -webkit-fill-available;
  max-width: -webkit-fill-available;
}
#review .review .review_item img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#review .review .slick-initialized .slick-slide {
  margin: 0 20px;
}

.team .team_items .team_item {
  display: flex;
}
.team .team_items .team_item .team_item_img {
  display: flex;
  justify-content: center;
}
.team .team_items .team_item .team_item_img img {
  width: 50%;
  border-radius: 50%;
}
.team .team_items .team_item_description h3 {
  margin-left: 20px;
}
.team .team_items .team_item_achievements h3 {
  margin-left: 20px;
}
.team .team_items .team_item_achievements .team_item_achievements_items {
  display: flex;
}
.team .team_items .team_item_achievements .team_item_achievements_items .team_item_achievements_item {
  width: min-content;
  min-width: 30%;
}
.team .team_items .team_item_achievements .team_item_achievements_items .team_item_achievements_item img {
  max-width: 100%;
}

.privacy .privacy_nav {
  display: flex;
  align-items: center;
}
.privacy .privacy_nav .privacy_nav_item {
  margin-right: 10px;
}
.privacy .privacy_nav .privacy_nav_item:last-child {
  margin-left: 10px;
}

.price .items .item {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  padding: 5px;
  border-bottom: 1px solid #e4e4e2;
}
.price .items .item:hover {
  background-color: #324577;
  color: #e4e4e2;
}
.price .items .item:last-child {
  border-bottom: none;
}
.price .gropu-title {
  text-align: center;
  line-height: 30px;
}

h2.funny-title {
  /*border-top:5px solid #E0DBDE;border-bottom:5px solid #E0DBDE;*/
  font-size: 70px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
  font-weight: 900;
  letter-spacing: 8px;
}

@-webkit-keyframes move-background {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px -300px;
  }
}
@-moz-keyframes move-background {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px -300px;
  }
}
@keyframes move-background {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px -300px;
  }
}
.section-title {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  animation-play-state: running;
  color: transparent;
  background: url(../img/background/fon6.jpg) no-repeat #ECE7EA;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation: move-background 20s infinite linear alternate;
  -moz-animation: move-background 20s infinite linear alternate;
  animation: move-background 20s infinite linear alternate;
}

/*# sourceMappingURL=main.css.map */
